.gradle
/local.properties

# IntelliJ IDEA
*.iml
*.iws
/out/

# User-specific configurations
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml 
.idea/shelf/
/.idea/libraries
.idea/gradle.xml

#
.DS_Store
/build
/captures
.externalNativeBuild
